* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
html{
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 100px; 
}
body {
  background: #f4f4f4;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  padding: 1rem 2rem;
  height: 80px;
  z-index: 1000;
}
.logo a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 2.0rem;
  font-size: 1.0rem;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  padding: 0.5rem 0;
}

.nav-links a:hover {
  color: #ba68c8; /* Changed from #55e6a5 to purple */
}

.nav-links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 90%;
  background-color: #ba68c8; /* Changed from #55e6a5 to purple */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.burger {
  display: none;
  cursor: pointer;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar{
   position: fixed;
   top: 0;
   left: 0;
  }
  .nav-links {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    background: #232323;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    transition: left 0.5s ease;
    z-index: 1000;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    margin: 1.5rem 0;
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .logo a {
    font-size: 1.4rem;
  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 1001;
  }

  .ham {
    font-size: 28px;
    color: #FFFFFF;
    transition: color 0.3s ease;
  }

  .ham:hover {
    color: #ba68c8; /* Changed from #55e6a5 to purple */
  }
}